/* Background */
.register-container {
  position: relative;
  background-image: url("../../images/school.jpeg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay on background */
.register-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  z-index: 1;
}

/* Centered register box */
.register-box {
  position: relative;
  z-index: 2;
  background-color: var(--background);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  height: 520px;
  padding-top: 20px;
}

/* Form inputs */
.register-box h2 {
  margin-bottom: 15px;
  color: var(--white);
}

.register-input-group {
  margin-bottom: 12px;
}

.register-input-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--white);
  font-weight: bold;
}

.register-input-group input,
.register-input-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  background-color: var(--secondary);
}

.register-box .input-group input:focus,
.register-box .input-group select:focus {
  border-color: #007bff;
  outline: none;
}

.register-box .error-msg {
  color: red;
  margin-bottom: 10px;
}

/* Register button */
.register-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--ash);
  color: var(--background);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #eca8a8;
}

.register-btn.loading {
  animation: loadingAnimation 3s ease infinite;
}

@keyframes loadingAnimation {
  0% {
    background-color: #eca8a8;
  }
  50% {
    background-color: var(--primary);
  }
  100% {
    background-color: #eca8a8;
  }
}
