.sideDiv1 {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.sideDiv2 {
  display: flex;
  margin-left: 30%;
  justify-content: center;
}

.sideDiv2 img {
  margin-top: 30px;
}

.sideDiv3 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.sideDiv3 a {
  display: flex;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s, background-color 0.3s;
  padding: 5px 15px 5px 15px;
  border-radius: 0 10px 10px 0; /* Add rounded corners */
}

.sideDiv3 .icon {
  font-size: 22px;
  color: var(--white);
  margin-right: 10px;
  align-self: center;
}

.sideDiv3 .label {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  align-self: center;
}

.sideDiv3 a:hover {
  background-color: var(--ash);
  color: var(--primary);
}

.sideDiv3 a:hover .icon,
.sideDiv3 a:hover .label {
  color: var(--primary);
}

.sideDiv3 a.active {
  background-color: var(--primary);
  color: var(--white);
}

.sideDiv3 a.active .icon,
.sideDiv3 a.active .label {
  color: var(--white);
}

.sideDiv4 {
  margin-top: 50px;
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.sideDiv41 {
  margin-left: 10px;
}

.sideDiv41 h3 {
  color: var(--white);
}

.sideDiv41 h4 {
  margin-top: -10px;
  color: var(--secondary);
}
