:root {
  --background: #343942;
  --primary: #ed8b8b;
  --secondary: #a7a3a3;
  --ash: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}

* {
  font-family: "Poppins", sans-serif;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
