:root {
  --background: #0e1e3e;
  --primary: #7cb5cb;
  --secondary: #a7a3a3;
  --ash: #d9d9d9;
  --white: #ffffff;
  --black: #000000;
}

* {
  font-family: "Poppins", sans-serif;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}
