.events-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headers h2 {
  font-size: 18px;
  color: var(--black);
}

.btn-add-event {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 67%;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.calendar-section {
  align-items: center;
}

.fullcalendar {
  width: 100%; /* Ensure it takes the full width */
  height: 90vh; /* Set desired height */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.fc-header-toolbar .fc-toolbar-title {
  color: var(--black); /* Change this to your desired color */
  font-size: 20px; /* Adjust font size */
}

.fc-day-today {
  background-color: lightblue; /* Change this to your desired color */
  border: 1px solid blue; /* Optional border */
}

.right-section {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  width: 22%;
}

.right-section h2 {
  color: var(--black);
  font-size: 14px;
}

.all-events-list {
  list-style: none;
  padding: 0;
}

.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.event-menu {
  position: relative;
}

.event-actions {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event-menu:hover .event-actions {
  display: block;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
