.events-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headers h2 {
  font-size: 18px;
  color: var(--black);
}

.btn-add-event {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left-section {
  width: 67%;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}

.calendar-section {
  align-items: center;
}

.fullcalendar {
  width: 100%; /* Ensure it takes the full width */
  height: 90vh; /* Set desired height */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.fc-header-toolbar .fc-toolbar-title {
  color: var(--black); /* Change this to your desired color */
  font-size: 20px; /* Adjust font size */
}

.fc-day-today {
  background-color: lightblue; /* Change this to your desired color */
  border: 1px solid blue; /* Optional border */
}

.right-section {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  width: 22%;
}

.right-section h2 {
  color: var(--black);
  font-size: 14px;
}

.all-events-list {
  list-style: none;
  padding: 0;
}

.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.event-menu {
  position: relative;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 420px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slideIn 0.3s ease-out;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.modal-content label {
  display: block;
  margin: 10px 0;
  color: #555;
  font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="color"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 90%;
}

.modal-content button[type="submit"]:hover {
  background-color: #0056b3;
}

.modal-content button {
  background-color: transparent;
  border: none;
  color: #777;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
}

.modal-content button:hover {
  color: #333;
}

/* Animation for modal opening */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
