.overview-page {
  padding: 40px;
  text-align: center;
}

/* Greeting Section */
.greeting-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greeting-section h3 {
  font-weight: 600;
  color: var(--background);
  font-size: 18px;
}

.btn-add-student {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

/* Analytics Section */
.overview-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 10px;
}

.card p {
  font-weight: 700;
  color: #27ae60;
}

/* Financial Section */
.financial-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.financial-chart {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 96%;
  margin-top: 20px;
}

.financial-chart h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  text-align: left;
}

.events-section {
  background-color: #fff;
  width: 25%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.events-section .ul {
  margin-bottom: 30px;
}

.events-section h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--black);
}

.date {
  border-bottom: 2px solid #27ae60;
  background-color: var(--ash);
  padding: 10px;
  align-self: center;
}

.events-section li {
  font-size: 16px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.btn-add-event {
  background-color: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.calendar-sections {
  background-color: var(--white);
  padding: 20px;
  width: 65%;
  border-radius: 10px;
}
